*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.top-header{
	width: 100%;
	background: #81ac27;
}
.first-header{
	height: 50px;
	width: 70%;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}
.first-header i,p{
	margin: 20px 10px;
	float: left;
}
.email{
	width: 20%;
	float: left;
	border-right: 1px solid;
}
.mobile{
	width: 40%;
	float: left;
	border-right: 1px solid;
}
.phone{
	float: left;
}
.icons{
	float: right;
}
.country{
	width: 20%;
	float: left;
	border-right: 1px solid;
	overflow: hidden;
}
.country p{
	margin: 20px 10px;
}
.login{
	width: 20%;
	float: left;
}
.mid-header{
	width: 70%;
	margin: 0 auto;
	height: 90px;
}
.logo{
	width: 20%;
	float: left;
	padding-left: 10px;
	margin-top: 25px;
}
.box{
	max-width: 320px;
	width: 60%;
	float: left;
	margin-top: 20px;
	margin-left: 80px;
}
.box .search-box{
	position: relative;
	height: 40px;
	margin: auto;
	border-radius: 25px;
}
.search-box input{
	position: absolute;
	height: 40px;
	width: 100%;
	border-radius: 25px;
	background: #fff;
	outline: none;
	border: none;
	padding-left: 20px;
	font-size: 13px;
	border: 2px solid #EEEEEE;
}
.search-box .icon{
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	line-height: 40px;
	color: #81AC27;
	font-size: 18px;
	width: 60px;
	height: 100%;
	border: 2px solid #EEEEEE;
	border-radius: 0 25px 25px 0;
}
.cart{
	width: 20%;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.cart i{
	color: #81AC27;
	font-size: 20px;
}
.cart span{
	color: #A3A2B2;
	font-size: 12px;
	font-weight: bold;
}
.bottom-header{
	width: 100%;
	height: 50px;
	background: #151932;
}
.navbar{
	width: 70%;
	height: 50px;
	margin: 0 auto;
}
.navbar ul{
	display: flex;
	justify-content: space-between;
}
.navbar li{
	list-style: none;
	padding: 16px;
}
.navbar a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
.navbar li:hover{
	background: orange;
	transition: .5s;
}
.banner{
	min-height: 75vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,40,0.4),rgba(4,9,40,0.4)), url(images/bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.text-box{
	color: #fff;
	width: 80%;
	margin: 0 auto;
}
.text-box h5{
	padding-left: 100px;
	padding-top: 120px;
	font-size: 13px;
}
.text-box h1{
	padding-left: 100px;
	padding-top: 20px;
	font-size: 45px;
}
.text-box p{
	padding-left: 90px;
	font-size: 10px;
}
.botton{
	margin: 70px 100px;
	width: 80%;
}
.btn{
	font-size: 13px;
	border: 1px solid;
	text-decoration: none;
	padding: 10px 25px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	border-radius: 30px;
}
.btn:hover{
	background: #f44336;
	transition: .5s;
}
.mini-slider{
	width: 70%;
	height: 180px;
	margin: 0 auto;
	display: block;
}
.mini-slider img{
	height: 180px;
	width: 380px;
	margin-top: 120px;
	margin-left: 40px;
	background: #F0EB4F;
}
/*=====header end========*/

/*=====body start========*/
.body{
	width: 100%;
	margin-top: 150px;
}
.about-us{
	width: 65%;
	height: 60vh; 
	margin: 0 auto;
	border-bottom: 1px solid #dfe4ea;
}
.all-fruits{
	width: 42%;
	height: 100%;
	float: left;
}
.all-fruits img{
	width: 100%;
	height: 100%;
}
.about{
	margin-top: 10px;
	width: 58%;
	height: 100%;
	float: right;
	padding-left: 20px;
}
.about h5{
	font-size: 13px;
	margin: 10px;
	color: #85AE2D;
}
.about h2{
	font-size: 32px;
	margin: 10px;
}
.about p{
	font-size: 11px;
	color: #9291A2;
	line-height: 1.5;
	font-weight: bold;
}
.about h6{
	margin: 10px;
	color: #9291A2;
}
.trending-product{
	width: 65%;
	height: 120vh;
	margin: 0 auto;
}
.trend-text{
	width: 100%;
	height: 18vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.trend-text h4{
	padding: 10px 0;
	font-size: 12px;
	color: #9291A2;
}
.trend-text h2{
	font-size: 25px;
}
.card{
	width: 100%;
	height: 82vh;
}
.top-card{
	width: 100%;
	height: 41vh;
	margin-bottom: 10px;
}
.to-card{
	width: 23%;
	height: 100%;
	float: left;
	border: 1px solid #dfe4ea;
	margin-right: 17px;
}
.card-img{
	width: 100%;
	height: 78%;
}
.card-img img{
	width: 100%;
	height: 100%;
}
.card-text{
	width: 100%;
	height: 22%;
	background: #F2F2F2;
	text-align: center;
}
.card-text h4{
	font-size: 18px;
	padding: 7px;
	color: #747d8c;
}
.card-text h5{
	font-size: 12px;
	padding-bottom: 4px;
	color: #9291A2;
}

.bottom-card{
	width: 100%;
	height: 41vh;
}
.card-button{
	width: 100%;
	height: 80px;
	text-align: center;
}
.card-button .btn{
	background: #81AB27;
	margin: 30px;
	font-size: 13px;
	border: 1px solid;
	text-decoration: none;
	padding: 10px 25px;
	color: #fff;
	cursor: pointer;
	border-radius: 30px;
}
.card-button .btn:hover{
	background: #f44336;
	transition: .5s;
}
.bazar-banner{
	background-position: center;
	background-image: url(images/baz-banner.jpg);
	width: 100%;
	height: 330px;
	background-repeat: no-repeat;
	background-size: cover;
}
.bazar-text{
	width: 65%;
	height: 330px;
	margin: 0 auto;
	padding-top: 80px;
}
.bazar-text h5{
	color: #81AB27;
	padding: 5px 0;
	font-size: 13px;
}
.bazar-text h2{
	font-size: 30px;
	padding: 10px 0;
}
.bazar-text h6{
	font-size: 12px;
	padding: 5px 0;
	line-height: 1.8;
	color: #9291A2;
}
.bazar-btn{
	width: 100%;
	margin-top: 20px;
}
.btn-btn{
	background: #81AB27;
	font-size: 13px;
	border: 1px solid;
	text-decoration: none;
	padding: 10px 25px;
	color: #fff;
	cursor: pointer;
	border-radius: 30px;
}
.btn-btn:hover{
	background: #f44336;
	transition: .5s;
}
.most_view-product{
	width: 65%;
	height: 110vh;
	margin: 0 auto;
}
.banner-fruits{
	height: 220px;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.first-ban{
	width: 48%;
	height: 220px;
	background-image: linear-gradient(rgba(4,9,40,0.7),rgba(4,9,40,0.6)), url(images/all-fruit.png);
	background-size: cover;
	background-position: center;
	float: left;
}
.second-ban{
	width: 48%;
	height: 220px;
	background-image: linear-gradient(rgba(4,9,40,0.7),rgba(4,9,40,0.6)), url(images/all-fruit2.png);
	background-size: cover;
	background-position: center;
	float: right;
}
.Featured-Products{
	width: 65%;
	margin: 0 auto;
	height: 85vh;
}
.featured-top{
	width: 100%;
	height: 10vh;
}
.featured-top-left{
	width: 40%;
	height: 10vh;
	float: left;
}
.featured-top-left h2{
	margin-top: 15px;
	font-size: 22px;
}
.featured-top-right{
	width: 60%;
	height: 10vh;
	float: right;
}
.featured-top-right ul{
	display: flex;
	align-items: center;
	justify-content: right;
}
.featured-top-right ul li{
	list-style: none;
	padding: 20px 15px;
}
.featured-top-right ul li a{
	text-decoration: none;
	color: #9291A2;
	font-size: 13px;
	font-weight: bold;
}
.featured-top-right ul li a:hover{
	color: #81AB27;
}
.featured-bottom{
	width: 100%;
	height: 75vh;
}
.featured-bottom-left{
	width: 50%;
	height: 75vh;
	background-image: url(images/Vegetables.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	border: 1px solid #dfe4ea;
	float: left;
	overflow: hidden;
}
.featured-text{
	float: left;
	margin-left: 25px;
}
.featured-text h5{
	font-size: 12px;
	color: #9291A2;
	padding-top: 10px ;
}
.featured-text h3{
	font-size: 17px;
	padding-top: 5px;
}
.featured-bottom-left a{
	float: right;
	color: #2c3e50;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	margin-top: 70vh;
}
.featured-bottom-right{
	width: 50%;
	height: 75vh;
	float: left;
	overflow: hidden;
}
.featured-bot-right-top{
	width: 100%;
	height: 37vh;
	margin: 0 auto;
}
.featured-card{
	
	width: 45%;
	height: 100%;
	float: left;
	border: 1px solid #dfe4ea;
	margin-left: 20px;
	margin-bottom: 10px;

}
.featured-bot-right-bottom{
	width: 100%;
	height: 37vh;
	margin: 0 auto;

}
.blog{
	height: 350px;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;
}
.blog-text{
	margin-top: 150px;
	margin-left: 20px;
}
.blog-text h4{
	color: #fff;
	margin: 10px;
}
.tips{
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	margin: 10px;
	text-decoration: none;
	border-bottom: 1px solid;
}
.footer{
	background-image: linear-gradient(rgba(4,9,40,0.3),rgba(4,9,40,0.3)), url(images/grocery.jpg);
	height: 60vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.foBox{
	width: 65%;
	height: 43vh;
	margin: 0 auto;
	padding: 50px 0;
}
.foBox-left{
	width: 25%;
	height: 100%;
	float: left;
}
.footer-text h2{
	font-size: 17px;
	color: #fff;
	margin-bottom: 20px;
}
.footer-text ul li{
	list-style: none;
	margin-bottom: 10px;
}
.footer-text ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}
.foBox-mid{
	width: 25%;
	height: 100%;
	float: left;
}
.foBox-middle{
	width: 25%;
	height: 100%;
	float: left;
}
.foBox-right{
	width: 25%;
	height: 100%;
	float: left;
}
.footer-email{
	background: #81AC27;
	height: 12vh;
	width: 65%;
	margin: 0 auto;
}
.footLogo{
	height: 100%;
	width: 25%;
	float: left;
	padding: 22px 15px;
	color: #fff;
	font-size: 20px;
}
.footEmail{
	height: 100%;
	width: 40%;
	float: left;
	padding: 25px 12px;
}
.footEmail input{
	padding: 5px 60px;
	font-size: 11px;
}
.copyright{
	width: 35%;
	height: 100%;
	float: right;
	padding: 30px;
	font-size: 16px;
	color: #fff;
}

